body,html {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    height: 100%;
}
#root{
    height: 100%;
    background-color: steelblue;
    background-image: url('https://res.cloudinary.com/juntola/image/upload/v1591475731/website/lowpoly_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.welcomeHeader {
    display: inline-block;
    color: rgb(255, 136, 0);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(46, 59, 61);
    border-radius: .2rem;
}